<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.justshare">
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
  <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.DUMP" />
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />




  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>

  <uses-feature
      android:name="android.hardware.touchscreen"
      android:required="false" />
  <uses-feature
      android:name="android.software.leanback"
      android:required="false" />


  <permission
      android:name="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND"
      android:description="@string/permission_run_command_description"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/permission_run_command_label"
      android:protectionLevel="dangerous" />

  <application android:name=".MainApplication"
               android:label="@string/app_name"
               android:icon="@mipmap/ic_launcher"
               android:roundIcon="@mipmap/ic_launcher_round"
               android:banner="@mipmap/ic_launcher"
               android:allowBackup="true"
               android:largeHeap="true"
               android:theme="@style/AppTheme"
               android:usesCleartextTraffic="true"
               android:requestLegacyExternalStorage="true"
               android:extractNativeLibs="true">


    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_SDK_VERSION" android:value="44.0.0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://exp.host/@anonymous/justshare"/>

    <activity android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/Theme.App.SplashScreen"
        android:screenOrientation="portrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="com.justshare"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.termux.app.TermuxActivity"
        android:label="@string/application_name"
        android:configChanges="orientation|screenSize|smallestScreenSize|density|screenLayout|uiMode|keyboard|keyboardHidden|navigation"
        android:launchMode="singleTask"
        android:resizeableActivity="true"
        android:screenOrientation="sensorPortrait"
        android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intextractNativeLibsent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>

    </activity>


    <service
        android:name="com.termux.app.TermuxService"
        android:exported="false" />

    <service
        android:name="com.termux.app.RunCommandService"
        android:exported="true"
        android:permission="${TERMUX_PACKAGE_NAME}.permission.RUN_COMMAND" >
      <intent-filter>
        <action android:name="${TERMUX_PACKAGE_NAME}.RUN_COMMAND" />
      </intent-filter>
    </service>

    <receiver android:name="com.termux.app.TermuxOpenReceiver" />


    <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
    <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat"/>
  </application>
</manifest>