<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>justshare.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D7FD06A350CC71E47DCBAF9B943464BA125F4B9A</string>
				<key>dateExpires</key>
				<string>08/06/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P6UG545LF4.com.justshare</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>P6UG545LF4</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array/>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>justshare.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>813ac4f4-4733-4374-a5e8-96b8c99ac035</string>
				<key>dateExpires</key>
				<string>07/07/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.justshare</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P6UG545LF4</string>
				<key>name</key>
				<string>Moises Cedeno</string>
			</dict>
			<key>versionNumber</key>
			<string>1.5.2</string>
		</dict>
	</array>
</dict>
</plist>
